<div class="pt-5" *ngIf="intro && !final">
  <div class="p-3">
    <div class="row">
      <div class="col-12 mb-3">
        <h3>{{test_title}}</h3>
        <hr>
      </div>
      <div class="col-12 mt-2">
        <p [innerHTML]="test_description"></p>
      </div>
    </div>
    <div class="row">
      <div class="col d-flex justify-content-end">
        <button
            class="btn btn-primary mb-5 mt-4"
            style="width: 150px;"
            (click)="this.intro = false;">Iniciar</button>
      </div>
    </div>
  </div>
</div>
<div class="pt-5" *ngIf="!intro && !final">
  <div class="p-3">
    <div class="row">
      <div class="col-12 mb-3">
        <h3>{{test_title}}</h3>
        <hr>
      </div>
    </div>
    <form autocomplete="off" (ngSubmit)="next()" [formGroup]="dataForm">
      <div class="col-sm-12 col-xs-12 mb-3">
        <label class="form-label" style="font-weight: 500;">Pregunta Nro. {{question_number + 1}} de {{questions.length}}</label>
        <p>{{this.questions[question_number].question}}</p>
        <div>
          <div class="form-check pb-2" *ngFor="let opt of this.questions[question_number].answer_options">
            <input class="form-check-input" type="radio" id="{{opt.opt}}" [value]="opt.value" formControlName="opt" [class.is-invalid]="invalidField('opt')">
            <label class="form-check-label" for="{{opt.opt}}">
              &nbsp;&nbsp;{{opt.opt}}
            </label>
          </div>
        </div>
      </div>
      <div class="row pt-5">
        <div class="col d-flex justify-content-end">
          <button
              class="btn btn-primary mb-5 mt-4"
              style="width: 150px;"
              [disabled]="this.dataForm.invalid || loading"><i *ngIf="loading" class="fas fa-spinner fa-pulse"></i> {{(this.question_number === (this.questions.length - 1) && this.id === 2) ? 'Finalizar' : 'Siguiente'}}</button>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="pt-5" *ngIf="final">
  <div class="p-3">
    <div class="row">
      <div class="col-12 mb-3">
        <h3>¡Has finalizado la prueba! ¡Muchas gracias por tu tiempo!</h3>
        <hr>
      </div>
      <div class="col-12 mt-2">
        <p style="text-align: justify;">
          Agradecemos tu participación y esperamos que esta experiencia haya sido enriquecedora. Tus respuestas son muy valiosas para nosotros. Si tienes alguna pregunta o necesitas más información, no dudes en ponerte en contacto con nosotros. ¡Gracias por confiar en nosotros!
        </p>
        <!--<code>{{finalReport | json}}</code>-->
      </div>
    </div>
    <div class="row" *ngIf="!emailSaved">
      <form autocomplete="off" (ngSubmit)="updateEmailCheck()" [formGroup]="authForm">
        <div class="col-12 justify-content-center mt-3">
          <div class="col-sm-6 col-xs-12 mb-3 mx-auto">
            <label for="email" class="form-label">Sigamos en contacto</label>
            <input
                type="text"
                class="form-control"
                id="email"
                placeholder="Ingrese su correo electrónico..."
                formControlName="email"
                [class.is-invalid]="invalidAuthField('email')">
          </div>
          <div class="col-sm-6 col-xs-12 pt-3 pb-2 mx-auto">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="auth_chk" (change)="checkboxChanged()" style="width: 1rem;height: 1rem;" [disabled]="this.authForm.invalid">
              <label class="form-check-label" for="auth_chk" style="font-size: 1rem;">
                &nbsp;Autorizo que se me envíe, al correo proporcionado, el resultado de este test
              </label>
            </div>
          </div>
          <div class="col-12" style="text-align: center;">
            <button
                class="btn btn-primary mb-5 mt-4"
                style="width: 150px;"
                [disabled]="this.authForm.invalid">Enviar</button>
          </div>
        </div>
      </form>
    </div>
    <div class="row" *ngIf="emailSaved" style="text-align: center;">
      <p>¡Hasta pronto!</p>
    </div>
  </div>
</div>
